body {
    background-image: url(img/rhodeskin.jpeg) 
 }
 
 .home {
     display: flex;
     flex-wrap: wrap;
 }
 
 .top {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
 
 }
 
 #logo {
     width: 200px; 
     height: 100px;
     
 }
 
 .botones {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     width: 250%;
     height: 80px;
     font-size: 18px;
     font-family: sans-serif;
     font-weight: 200;
     margin: auto;
     opacity: 0.5;
     padding: 20px
 
 }
 .texto {
     padding: 100px;
     background-color: transparent;
     margin: 50px 0px;
     min-width: 300px;
     
 }





.section {
    text-align: center;
}

#titulo shop{
    color: #0e0e0e;
    text-align:justify;

}

.productos{
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    color: #0e0e0e;
}

.video {
    position: fixed;
    align-items: flex-end;
}

body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #a8a8a8; 
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #2d2a2d; 
    border-color: #2d2a2d; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #2d2a2d; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: black;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }